<% const { userAuthenticated, name, username } = locals.sessionUser || {}; %>
<header class="top-app-bar" data-top-app-bar>
  <% if (locals.route === '/createblogs') { %>
  <button
    class="icon-btn filled-tonal"
    aria-label="Go to previous page"
    data-back-btn
  >
    <span class="material-symbols-rounded" aria-hidden="true">
      chevron_left
    </span>

    <div class="state-layer"></div>
  </button>
  <% } %>

  <a href="/" class="logo">
    <img src="/images/nextblog.svg" alt="NextBlog" width="98" height="24" />
  </a>

  <% if (userAuthenticated) { %>
  <div class="trailing-action-wrapper">
    <a href="/createblog" class="btn btn-fill">
      <span class="material-symbols-rounded leading-icon">edit</span>
      <p class="label-large">Yaz</p>
    </a>

    <div class="state-layer"></div>

    <div class="menu-wrapper" data-menu-wrapper>
      <button class="icon-btn" data-menu-toggler>
        <div class="avatar">
          <p class="title-medium"><%=name%></p>
        </div>
        <div class="state-layer"></div>
      </button>
      <div class="menu" data-menu>
        <div class="list-item small">
          <div class="avatar">
            <p class="title-medium"><%=name%></p>
          </div>
          <div>
            <p class="label-small text-primary truncate-oneline">
              <%=username%>
            </p>
            <p class="body-large text-on-surface"><%=name%></p>
          </div>
          <div class="state-layer"></div>
          <a
            href="/profile/<%=username%>"
            class="list-item-link"
            title="<%=name%>"
          ></a>
        </div>
        <div class="divider"></div>
        <a href="/dashboard" class="menu-item">
          <span class="material-symbols-rounded icon" aria-hidden="true">
            dashboard
          </span>
          <p class="label-large">Ana Sayfa</p>
          <div class="state-layer"></div>
        </a>
        <a href="/readinglist" class="menu-item">
          <span class="material-symbols-rounded icon" aria-hidden="true">
            bookmark
          </span>
          <p class="label-large">Okuma Listesi</p>
          <div class="state-layer"></div>
        </a>
        <a href="/settings" class="menu-item">
          <span class="material-symbols-rounded icon" aria-hidden="true">
            settings
          </span>
          <p class="label-large">Ayarlar</p>
          <div class="state-layer"></div>
        </a>
        <div class="divider"></div>
        <form action="/logout" method="post">
          <button type="submit" class="menu-item">
            <span class="material-symbols-rounded icon" aria-hidden="true">
              logout
            </span>
            <p class="label-large">Çıkış</p>
            <div class="state-layer"></div>
          </button>
        </form>
      </div>
    </div>

    <% } else { %>
    <a href="/login" class="btn btn-text">
      <p class="label-large">Giriş Yap</p>
      <div class="state-layer"></div>
    </a>
    <a href="/register" class="btn btn-fill">
      <p class="label-large">Kayıt Ol</p>
      <div class="state-layer"></div>
    </a>
    <% } %>
  </div>

  <div class="progress-bar" data-progress-bar>
    <div class="progress-active-indicator">
      <div class="progress-track"></div>
    </div>
  </div>
</header>
